/* styles/signup.css */
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
}

.signup-container {
  display: flex;
  height: 100vh;
}

.signup-form {
  flex: 1;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f9f9f9;
  margin-bottom: 35px;
  margin-top: 25px;
}

.signup-form h2 {
  color: #0056b3; /* Primary color */
  margin-bottom: 1rem;
}

.signup-form p {
  /* margin-bottom: 1.5rem; */
  margin-top: 20px;
}

.signup-form .social-login {
  width: 80%;
  padding: 0.75rem;
  margin-bottom: 1rem;
  border: none;
  border-radius: 4px;
  font-size: 1rem;
  cursor: pointer;
}

.signup-form .social-login.google {
  background-color: #ffcc00; /* Secondary color */
  color: #0056b3; /* Primary color for text */
}

.signup-form .social-login.github {
  background-color: #ff6600; /* Accent color */
  color: #ffffff; /* White text */
}

.signup-form .separator {
  margin: 1.5rem 0;
  text-align: center;
  width: 100%;
  border-bottom: 1px solid #ccc;
  line-height: 0.1em;
  margin-bottom: 1.5rem;
}

.signup-form .separator span {
  background: #f9f9f9;
  padding: 0 10px;
}

.signup-form .form-group {
  width: 80%;
  margin-bottom: 1.5rem;
}

.signup-form .form-group label {
  display: block;
  margin-bottom: 0.5rem;
  color: #333333;
}

.signup-form .form-group input {
  width: 100%;
  padding: 0.75rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.signup-form .submit-button {
  width: 80%;
  padding: 0.75rem;
  background-color: #0056b3; /* Primary color */
  color: #ffffff;
  border: none;
  border-radius: 4px;
  font-size: 1rem;
  cursor: pointer;
}

.signup-form .submit-button:hover {
  background-color: #ffcc00; /* Secondary color */
  color: #0056b3; /* Primary color */
}

.signup-banner {
  flex: 1;
  background-color: #0056b3; /* Primary color */
  color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  margin:0;
}

.signup-banner h2 {
  margin-bottom: 1rem;
}

.signup-banner p {
  max-width: 300px;
  text-align: center;
}
